---
import Layout from '../layouts/Layout.astro';
import AboutMe from '../components/AboutMe.astro';
---

<Layout title="About Me - Francis Tan | DevOps Engineer">
  <div class="animate-fade-in-up min-h-[calc(100vh-8rem)] flex flex-col justify-center items-center">
    <AboutMe />
  </div>
</Layout>
