---
import Layout from '../layouts/Layout.astro';
import ExperienceComponent from '../components/Experience.astro';
---

<Layout title="Experience - DevOps Engineer Portfolio">
  <div class="animate-fade-in-up h-[calc(100vh-8rem)] flex flex-col justify-center items-center">
    <ExperienceComponent />
  </div>
</Layout>
