---
import Layout from '../layouts/Layout.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Projects - Francis Tan | DevOps Engineer">
  <div class="animate-fade-in-up min-h-[calc(100vh-8rem)] flex flex-col justify-center items-center">
    <Projects />
  </div>
</Layout>
