---
import Layout from '../layouts/Layout.astro';
import TechStack from '../components/TechStack.astro';
---

<Layout title="Skills - Francis Tan | DevOps Engineer">
  <div class="animate-fade-in-up min-h-[calc(100vh-8rem)] flex flex-col justify-center items-center">
    <TechStack />
  </div>
</Layout>
